<h2><%= l(:label_timesheet_new, :scope => :timesheet) %></h2>

<%= form_for @timesheet do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<% html_title l(:label_timesheet_new, :scope => :timesheet) %> 