<p><%= l(:mail_body_timesheet_pending_approval, 
       :user => @timesheet.user.name, 
       :hours => format_hours(@timesheet.total_hours), 
       :date_range => @timesheet.date_range) %></p>

<p>
<%= l(:field_url) %>: <%= link_to @timesheet_url, @timesheet_url %>
</p> 